<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfinteck.dmq.model.project.dao.ManagerProjectDao">

    <!-- 表字段 -->
    <sql id="tableManagerProjectSQL">
        id, project_name, project_remark, in_explain, operator, state
    </sql>

    <!-- 表字段与对象字段映射 -->
    <resultMap id="mangerProjectResultMap" type="com.jfinteck.dmq.model.project.dto.ManagerProjectDTO">
        <id column="id" property="id" javaType="java.lang.Long"/>
        <result column="project_name" property="projectName" javaType="java.lang.String"/>
        <result column="project_remark" property="projectRemark" javaType="java.lang.String"/>
        <result column="in_explain" property="inExplain" javaType="java.lang.String"/>
        <result column="operator" property="operator" javaType="java.lang.String"/>
        <result column="state" property="state" javaType="java.lang.String"/>
    </resultMap>

    <!-- 保存数据 -->
    <insert id="insertInfo" parameterType="com.jfinteck.dmq.model.project.dto.ManagerProjectDTO">
        INSERT INTO manager_project (<include refid="tableManagerProjectSQL" />)
        VALUES(#{project.id}, #{project.projectName}, #{project.projectRemark}, #{project.inExplain},
        #{project.operator}, #{project.state})
    </insert>
    
</mapper>