<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfinteck.dmq.model.project.dao.MongodbSyncTableDao">

   <!-- 表字段 -->
   <sql id="mongodbSyncTbaleSQL">
      `id`, `server_id`, `table_name`, `prefix_name`, `falg`
   </sql>
   
   <!-- 表字段映射 -->
   <resultMap id="mongodbSyncTableResultMap" type="com.jfinteck.dmq.model.project.dto.MongodbSyncTable">
      <id column="id" property="id" javaType="java.lang.Long"/>
      <result column="server_id" property="serverId" javaType="java.lang.Long"/>
      <result column="table_name" property="tableName" javaType="java.lang.String"/>
      <result column="prefix_name" property="prefixName" javaType="java.lang.String"/>
      <result column="falg" property="flag" javaType="java.lang.String"/>
   </resultMap>
   
   <!-- 插入数据 -->
   <insert id="insert" parameterType="com.jfinteck.dmq.model.project.dto.MongodbSyncTable">
      insert into tb_mongodb_sync_table (<include refid="mongodbSyncTbaleSQL" />)
      values(#{id}, #{serverId}, #{tableName}, #{prefixName}, #{flag})
   </insert>
   
   <!-- 删除数据 -->
   <delete id="delete">
      delete from tb_mongodb_sync_table where id = #{id}
   </delete>
   
   <!-- 更新数据 -->
   <update id="update" parameterType="com.jfinteck.dmq.model.project.dto.MongodbSyncTable">
      update tb_mongodb_sync_table 
      <set>
         <if test="tableName != null and tableName != ''.toString()">
           table_name = #{tableName},
         </if>
         <if test="prefixName != null and prefixName != ''.toString()">
           prefix_name = #{prefixName},
         </if>
         <if test="falg != null and falg != ''.toString()">
           falg = #{falg},
         </if>
      </set>
       where id = #{id}
   </update>
   
   <!-- 根据编号查询 -->
   <select id="findById" resultMap="mongodbSyncTableResultMap">
      select <include refid="mongodbSyncTbaleSQL" />
        from tb_mongodb_sync_table
       where id = #{id}
   </select>
   
   <!-- 根据服务编号查询数据 -->
   <select id="findByServerId" resultMap="mongodbSyncTableResultMap">
      select <include refid="mongodbSyncTbaleSQL" />
        from tb_mongodb_sync_table
       where server_id = #{id}
   </select>

</mapper>