<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfinteck.dmq.model.project.dao.UserSummaryDao">

   <!-- 表字段 -->
   <sql id="userSummarySQL">
      user_id, weight, level, beat_rate, level_num, create_time, update_time
   </sql>
   
   <!-- 保存数据 -->
   <insert id="insert" parameterType="com.jfinteck.dmq.model.project.dto.UserSummaryDTO">
      INSERT INTO user_summary (<include refid="userSummarySQL" />)
      VALUES(#{userSummary.userId}, #{userSummary.weight}, #{userSummary.level}, #{userSummary.beatRate}, 
             #{userSummary.levelNum}, #{userSummary.createTime}, #{userSummary.updateTime})
   </insert>
   
   <!-- 批量保存数据 -->
   <insert id="batchInsert" parameterType="com.jfinteck.dmq.model.project.dto.UserSummaryDTO">
      INSERT INTO user_summary (<include refid="userSummarySQL" />)
      VALUES <foreach collection="userSummarys" separator="," item="userSummary">
               (#{userSummary.userId}, #{userSummary.weight}, #{userSummary.level}, #{userSummary.beatRate}, 
                #{userSummary.levelNum}, #{userSummary.createTime}, #{userSummary.updateTime})
             </foreach>
   </insert>
   
</mapper>
