<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>解析MongoDB数据库</title>
	
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.5/lib/theme-chalk/index.css">
	<script src="../js/vue.js"></script>
	<script src="../js/vue-resource.js"></script>
	<script src="../js/vue-router.js"></script>
	<script src="../js/index.js"></script>
	
	<link rel="stylesheet" href="css/common.css" />
</head>
<body>
   <div id="id_analysis">
      <el-container>
         <!-- Menu ./start -->
	     <el-header>
	        <el-menu class="el-menu-demo" mode="horizontal">
		      <el-menu-item index="1" class="is-active">服务列表</el-menu-item>
		      <el-menu-item index="2"><a href="rules.html">规则列表</a></el-menu-item>
		      <el-menu-item index="3"><a href="logs.html">校验结果</a></el-menu-item>
	        </el-menu>
	     </el-header>
	     <!-- Menu ./end -->
	     <el-main>
	         <!-- 面包屑 ./start -->
	         <div style="margin-bottom: 20px;">
		        <el-breadcrumb separator="/">
		          <el-breadcrumb-item><a href="/index">服务列表</a></el-breadcrumb-item>
		          <el-breadcrumb-item><a :href="databaseURL">数据库列表</a></el-breadcrumb-item>
		          <el-breadcrumb-item>解析数据{{title}}</el-breadcrumb-item>
		        </el-breadcrumb>
	         </div>
	         <!-- 面包屑 ./end -->
	         
	         <div style="margin-top: 10px;">
	           <div style="margin: 50px auto; width: 1100px;">
				  <el-steps :active="active" align-center finish-status="success">
					 <el-step title="步骤 1" description="选择要解析的集合名称"></el-step>
					 <el-step title="步骤 2" description="选择集合中要解析的字段名"></el-step>
					 <el-step title="步骤 3" description="填写解析数据存放位置"></el-step>
					 <el-step title="步骤 4" description="完成数据解析操作"></el-step>
				  </el-steps>
				  <div style="margin-top:40px;">
				      <!-- 第一步骤 -->
					  <div v-show="active == '0'">
					     <el-form :model="selectForm" :rules="selectRules" ref="selectForm" label-width="100px">
					        <el-row>
					          <el-col :span="12" :offset="6">
					            <el-form-item label="数据库名" prop="database">
								   <span>{{selectForm.databaseName}}</span>
								</el-form-item>
					          </el-col>
					        </el-row>
					        <el-row>
					          <el-col :span="12" :offset="6">
					            <el-form-item label="集合名称" prop="tableName">
								   <el-select filterable size="medium" v-model="selectForm.collName" placeholder="请选择解析集合名称" style="width:100%;">
								      <el-option
								        v-for="item in tableNames"
									    :key="item.value"
									    :label="item.label"
									    :value="item.value">
								      </el-option>
								   </el-select>
								</el-form-item>
					          </el-col>
					        </el-row>
					        <el-row>
					          <el-col :span="12" :offset="6">
					             <el-form-item label="过滤条件" prop="filter">
					               <el-input v-model="selectForm.filter" placeholder="请输入过滤条件"></el-input>
					             </el-form-item>
					          </el-col>
					        </el-row>
					        <el-row style="margin-top:30px;"></el-row>
					        <el-row>
					          <el-col :span="12" :offset="6" style="text-align: center;">
					            <el-button size="medium" type="primary" @click="handleSelect('selectForm')">下一步</el-button>
					          </el-col>
					        </el-row>
					     </el-form>
					  </div>
					  <!-- 第二步骤 -->
					  <div v-show="active == '1'">
					     <el-form :model="fieldForm" :rules="fieldRules" ref="fieldForm" label-width="100px">
					        <el-row>
					          <el-col :span="12" :offset="6">
					             
					          </el-col>
					        </el-row>
					        <el-row>
					          <el-col :span="12" :offset="6" style="text-align: center;">
					            <el-button size="medium" @click="handleFirst('fieldForm')">上一步</el-button>
					            <el-button size="medium" type="primary" @click="handleFields('fieldForm')">下一步</el-button>
					          </el-col>
					        </el-row>
					     </el-form>
					  </div>
					  <div v-show="active == '2'">3</div>
					  <div v-show="active == '3'">4</div>
				  </div>
			   </div>
	         </div>
	     </el-main>
      </el-container>
   </div>
   
   <!-- JAVASCRIPT -->
   <script type="text/javascript">
      var vue = new Vue({
    	  el: "#id_analysis",
    	  data: {
    		  url: '/api/analysis',
    		  _id: '',
    		  title: '（选择表名）',
    		  databaseURL: '',
    		  database: '',
    		  active: 0,
    		  tableNames: [],
    		  options: [{
    			  label: 'apply_log', value:"apply_log"
    		  }],
    		  // 选择数据库表表单
    		  selectForm: {
    			  serverId: '',
    			  databaseName: '',
    			  collName: '',
    			  filterCondit: ''
    		  },
    		  selectRules: {
    			  collName: [{required: true, message: '请选择解析集合名称', trigger: 'blur'}]
    		  },
    		  // 选择字段名称
    		  fieldForm: {
    			  serverId: '',
    			  databaseName: '',
    			  tableName: ''
    		  },
    		  fieldRules: {
    			  
    		  }
    	  },
    	  methods: {
    		  init: function(){
    			 var url = window.location.href;
     			 this._id = url.substring(url.indexOf("=") + 1, url.indexOf("&"));
     			 var database = url.substr(url.indexOf("&") + 2, url.length);
     			 this.database = database.substr(database.indexOf("=") + 1, database.length);
     			 this.selectForm.databaseName = this.database;
     			 this.selectForm.serverId = this._id;
     			 
     			 this.databaseURL = '/databases?id=' + this._id;
    		  },
    		  // 初始化数据库表名称
    		  loadTables: function(){
    			  var query = "id=" + this._id + "&database=" + this.database;
    			  this.$http.get(this.url + "/load/tables?" + query)
    			  .then((res) => {
    				  this.tableNames = res.body.responseData;
    			  }),function(){
    				  console.log('failed');
 	              	  this.$message.error('抱歉网络错误.请稍后重试.');
    			  }
    		  },
    		  // 第一步单击事件
    		  handleSelect: function(formName){
    			  var that = this;
    			  this.$refs[formName].validate((valid) => {
    				  if( valid ){
    					  that.$http.post(that.url + "/update/analysis", that.selectForm)
    					  .then((res) => {
    						  var body = res.body;
    						  if( body.code == "00000" ){
    							  that.active = 1;
    							  that.title = "（集合字段）";
    							  
    							  // 参数赋值
    							  that.fieldForm.serverId = that.selectForm.serverId;
    							  that.fieldForm.databaseName = that.selectForm.databaseName;
    							  that.fieldForm.tableName = that.selectForm.collName;
    						  }else{
    							  this.$message.error('抱歉操作异常，请稍后重试.');
    						  }
    					  }),function(){
    						  this.$message.error('抱歉网络错误.请稍后重试.');
    					  }
    				  }else{
    					  return ;
    				  }
    			  });
    		  },
    		  // 第二步骤：上一步
    		  handleFirst: function(formName){
    			  // 重置表单
    			  this.$refs[formName].resetFields();
    			  that.active = 0;
				  that.title = "（选择表名）";
    		  },
    		  // 第二步骤：下一步
    		  handleFields: function(formName){
    			  
    			  this.$http.post(this.url + "/insert/collname", this.fieldForm)
    			  .then((res) => {
    				  console.log(res);
    			  }),function(){
    				  this.$message.error('抱歉网络错误.请稍后重试.');
    			  }
    		  }
    	  }
      });
      // 初始化数据
      vue.init();
      vue.loadTables();
   </script>
</body>
</html>